{% extends "!layout.html" %}
{%- set rellinks = [] %}
{% block rootrellink %}</pre>
<ul>
    <li><a href="index.html">Home</a> |</li>
    <li><a href="_static/DOR_CV.pdf">CV</a> |</li>
    <li><a href="internships.html">Internships</a> |</li>
    <li><a href="projects.html">Projects</a> |</li>
    <li><a href="outreach.html">Outreach</a> |</li>
    <li><a href="teaching.html">Teaching</a> |</li>
    <li>{% endblock %}
{% block relbar2 %}
{% endblock %}
The template above creates a header navigation bar of different entries of your sites.

{%- set rellinks = [] %} disables related links (i.e. prev, next and index).